.animate{
    background-position:center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    @media (max-width:1300px){
        background-size: cover; ;
        padding-bottom: 100px;
    }
    
    .animate-container{
        display: flex;
        justify-content: space-between;
        align-items:center ;
        width: 1700px;
        @media (max-width:1300px){
            display:block ;
        }
        @media (max-width:767px){
            padding-left: 40px;
            padding-right: 40px;
        }
        @media (max-width:650px){
            padding-left: 80px;
            padding-right: 80px;
        }
        .image-container{
            @media (max-width:1300px){
                display:flex ;
                justify-content: center;
            }
            img{
                animation: rotate 4s linear infinite;
                margin-top: -100px;
                @media (max-width:1450px){
                    height: 700px;
                    width: 700px;
                }
                @media (max-width:1400px){
                    height: 650px;
                    width: 650px;
                }
                @media (max-width:1300px){
                    margin-top: -130px;
                }
                @media (max-width:767px){
                    height: 500px;
                    width: 500px;
                }
                @media (max-width:500px){
                    height: 380px;
                    width: 380px;
                    margin-top: -80px;
                }
                @keyframes rotate {
                    0% , 100%{
                        transform: rotate(20deg)
                    }
                    50%{
                        transform: rotate(-20deg)
                    }
                }
           }
        }

        .upper-text{
            flex: 0 0 40%;
            padding-top: 120px;
            @media (max-width:1300px){
                text-align: center;
            }
            .center{
                @media (max-width:1300px){
                    display: inline-block;
                    
                }

                .wrap{
                    @media (max-width:1300px){
                    
                }

                    .right{
                        font-family: 'Brush';
                        font-style: italic;
                        
                        font-size: 25px;
                        color: white;
                        display: flex;
                        justify-content: end;
                        @media (max-width:1300px){
                            font-size: 22px;
                        }
                        @media (max-width:767px){
                            font-size: 18px;
                            justify-content: center;
                        }                     
                        h1{
                            margin: 0px;
                            font-weight: 400;
                            margin-right: 50px;
                            @media (max-width:767px){
                                margin: 0px;
                            } 
                        }
                    }
                    .bent{
                        display: flex;
                        justify-content: end;
                        margin-right: 50px;
                        margin-bottom: 10px;
                        @media (max-width:767px){
                            justify-content: center;
                            margin: 0px 0px 10px 0px;
                        } 
                        
                    }
                }    
                
                
            }
            .align{ 
                float: right;
                .heading{
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    color: white;
                    width: 700px;
                    @media (max-width:1300px){
                        font-size: 27px;
                        
                    }
                    @media (max-width:767px){
                        font-size: 16px;
                        width: auto;
                    }
                    
                   
                }
                .button{
                    margin-top: 10px; 
                    a{
                        padding: 15px 50px;
                        background-color: #FDB714;
                        border-radius: 50px;
                        color: white;
                        font-size: 18px;
                        font-family: $inter;
                        text-decoration: none;
                        font-weight: 600;
                        display:inline-block;
                        @media (max-width:1300px){
                            font-size: 17px;
                            padding: 13px 45px;
                        }
                    }
                }
            }   
                
                
        }
    }
}