.fullwidth_text.block{
    margin-top: 100px !important;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    @media(max-width:1600px){
        padding-left: 40px;
        padding-right: 40px;
    }
    @media(max-width:767px){
        padding-left: 20px;
        padding-right: 20px;
    }
    a.button.wc-backward.wp-element-button{
        background-color: #fDB714;
        border-radius: 20px;
    }
}