.footer-container{
    display: flex;
    justify-content: center;
    background-color: #482366;
    height: 570px;
    align-items: flex-end;
    margin-top: 150px;
    width: 100%;
    @media (max-width:767px){
        height: 520px;
        margin-top: 100px;
    }
    .footer{
        // padding: 0px 40px 0px 40px ;
        overflow:hidden;
        .logo{
            display: flex;
            justify-content: center;
            

        }
        .social-container{
            display: flex;
            justify-content: center;
            padding: 25px 0px 50px 0px;
            @media (max-width:767px){
                padding: 20px 0px 30px;
            }
            
            .social{
                margin-left: 16px;
            }
        }
        .link-container{
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width:767px){
                display: block;
                text-align: center;
                
            }
            
            .link{
                margin-right: 30px;
                margin-left: 30px;
                @media (max-width:767px){
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin: 0px;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-family: $inter;
                    font-weight: 600;
                    font-size: 18px;
                    @media (max-width:767px){
                        font-size: 15px;
                    }
                }
            }
        }
        .align{
            display: flex;
            margin-bottom: 20px;
            margin-top: 160px;
            @media (max-width:767px){
                margin-top: 30px;
            }
            .copy-container{
                display: flex;
                justify-content: center;
                padding: 10px 0px 10px 0px;
                align-items: flex-end;
                background-color: #FDB714;
                width: 1920px;

                .copy{
                    display: flex;
                    align-items: center;
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 16px;
                    @media (max-width:767px){
                        font-size: 14px;
                    }


                    p{
                        color: white;
                    }

                }
            }
        }    

    }
}